@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Fira+Sans:wght@100;300;400;500&family=Kanit:wght@600&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Lobster&family=Mea+Culpa&family=Open+Sans:wght@300;400;500;600;700&family=Play&family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400&display=swap');
*
{
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.485),rgba(0, 0, 0, 0.92)) ,url(background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.soon
{
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}
h1{
    font-size: 65px;
    text-shadow: 3px 2px 6px black;
    letter-spacing: 15px;
}
hr{
    width: 50%;
    margin: 30px auto;
    border: 1.5px solid #fff;
}
p{    
    text-shadow: 2px 2px 4px cyan;
    font-size: 17px;
    margin-bottom: 30px;
}
#desc{    
    text-shadow: 2px 2px 4px blue;
}
#launch
{
    text-shadow: 2px 2px 4px #9a0000;
    font-size: 40px;
    word-spacing: 20px;
}
